$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;


$main-black:  rgb(17, 17, 17);
$main-black-opacity: rgb(17 17 17 / 69%);
$white: rgb(255, 255, 255);
$main-green: rgb(86, 230, 86);
$txt-gray: rgb(113, 116, 113);
$txt-gray2: #a09d9d;